{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Labelizer</h1>
  <h4>Amazon labels to thermal printer labels</h4>
  <p class="lead">
    Drag file(s) or click to browse for file(s).
    <br />
    Converted PDFs will automatically download once processed.
  </p>
  <form
    action="{{ url_for('upload_file') }}"
    class="dropzone file-upload"
    id="fileupload"
    enctype="multipart/form-data"
    method="POST"
  >
    <div class="fallback">
      <input name="file" type="file" multiple />
      <input type="submit" value="Convert" />
      <input type="hidden" name="nojs" value="true" />
    </div>
  </form>
</div>

<script src="{{ url_for('static', filename='scripts/fileupload.js') }}"></script>
{% endblock %}
