<div class="row about">
  <div class="col col--3">
    <h6 class="display-4">Easy to Use</h6>
    <p>
      Simply drag your PDFs directly into the box above.<br />
      We will do the chopping, and the files will be automatically downloaded
      for you ready to print.
    </p>
  </div>
  <div class="col col--3">
    <h6 class="display-4">Completely Free</h6>
    <p>
      As a business you have enough to be dealing with without paying for a
      label service too.<br />
      If you do find the tool useful, there is a donate button that you can use
      which will help to cover our server costs.
    </p>
  </div>
  <div class="col col--3">
    <h6 class="display-4">Save money</h6>
    <p>
      By using the chopped files, you won't incur the extra charges that
      fulfilment centres charge to print A4 labels that Amazon send by default.
      ** is this correct? **
    </p>
  </div>
</div>
