<div class="row about">
  <div class="col col--3">
    <h4>Easy to Use</h4>
    <p>
      Simply drag your PDFs directly into the box above.<br />
      We will do the chopping, and the files will be automatically downloaded
      for you ready to print.
    </p>
  </div>
  <div class="col col--3">
    <h4>Completely Free</h4>
    <p>
      As a business you have enough to be dealing with without paying for a
      label service too.<br />
      If you do find the tool useful, there is a donate button that you can use
      which will help to cover our server costs.
    </p>
  </div>
  <div class="col col--3">
    <h4>Easy to Use</h4>
    <p>
      Simply drag your PDFs directly into the box above.
      <br />We will do the chopping, and the files will be automatically
      downloaded for you ready to print.
    </p>
  </div>
</div>
