{% extends "layout.html" %} {% block content %} {% include 'nav.html' %}
<div class="row about">
  <div class="col col--3">
    <h4 class="number-container">1</h4>
    <p class="lead">Drag your PDFs directly into the box...<br /></p>
    <img
      src="{{ url_for('static', filename='images/drag_200px.gif') }}"
      style="height: 200px;"
    />
  </div>
  <div class="col col--3">
    <h4 class="number-container">2</h4>
    <p class="lead">
      We do our chopping...
    </p>

    <img
      src="{{ url_for('static', filename='images/chop_200px.gif') }}"
      style="height: 200px;"
    />
  </div>
  <div class="col col--3">
    <h4 class="number-container">3</h4>
    <p class="lead">
      Print the downloaded file!
    </p>
    <img
      src="{{ url_for('static', filename='images/print_200px.gif') }}"
      style="height: 200px;"
    />
  </div>
</div>
{% endblock %}
