<form
  id="{{ id }}"
  action="{{ url_for('register') }}"
  method="post"
  style="display: none;"
>
  {{ form.hidden_tag() }}

  <div class="form-group required">
    {{
    form.username(class="form-control",id="username",required="required",type="text",value="",
    placeholder="Username") }}
  </div>
  <div class="form-group required">
    {{
    form.businessname(class="form-control",id="businessname",required="required",type="text",value="",
    placeholder="Business Name") }}
  </div>

  <div class="form-group required">
    {{
    form.email(class="form-control",id="email",required="required",type="text",value="",
    placeholder="Email") }}
  </div>

  <div class="form-group required">
    {{
    form.password(class="form-control",id="password",required="required",type="password",value="",
    placeholder="Password") }}
  </div>
  <div class="form-group required">
    {{
    form.password2(class="form-control",id="password2",required="required",type="password",value="",
    placeholder="Repeat Password") }}
  </div>
  {{ form.submit(class="btn btn-primary btn-block") }}
</form>
