<div class="row sitemap">
  <div class="col">
    <h6>Site map</h6>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link">Home</a></li>
      <li class="nav-item"><a class="nav-link">FAQ</a></li>
      <li class="nav-item"><a class="nav-link">How</a></li>
      <li class="nav-item"><a class="nav-link">Donate</a></li>
    </ul>
  </div>
  <div class="col">
    <h6>Support</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link"
          >For assistance contact:<br />
          &emsp;support@labelchopper.com</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
          >For general enquires or suggestions contact:<br />
          &emsp;info@labelchopper.com</a
        >
      </li>
    </ul>
  </div>

  <div class="col">
    <h6>Get involved</h6>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link">Donate</a></li>
      <li class="nav-item"><a class="nav-link">Share on Twitter</a></li>
      <li class="nav-item"><a class="nav-link">Share on Facebook</a></li>
    </ul>
  </div>
</div>
